<!-- Navbar -->
<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-left-container">
            <a href="/">
                <span class="logo-personal">Personal&nbsp;</span><span class="logo-links">Links</span>
            </a>
        </div>
        <div class="navbar-right-container">
            <a href="/users/login" class="login-btn">
                Log In
            </a>
            <a href="/users/register" class="register-btn">
                Sign Up
            </a>
        </div>
    </div>
</nav>
<!-- Profile Picture Display -->
<section class="profile-picture-container">
    <img src="/profile-pictures/default-profile-pic-1.png" alt="" class="profile-picture">
</section>
<!-- Profile Name -->
<section class="profile-name-container">
    Brian Rizer
</section>
<!-- Profile Bio -->
<section class="profile-bio-container">
    <div class="profile-bio">
        Here is my profile bio! My name is Brian and I am an aspiring web developer. Take a look at all my links below.
    </div>
</section>
<!--Links Display -->
<section class="links-container">
    <div class="link-container">
        <a href="">
            <div class="link-text">
                Link 1
            </div>
        </a>
    </div>
    <div class="link-container">
        <a href="">
            <div class="link-text">
                Link 2
            </div>
        </a>
    </div>
    <div class="link-container">
        <a href="">
            <div class="link-text">
                Link 3
            </div>
        </a>
    </div>
</section>

<!-- Add Link Button-->
<div class="add-link-button-container">
    <button class="add-link-button">
        <i class="fas fa-plus"></i>
    </button>
</div>